
*{
    /* font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}
body{
    background-color: rgb(238, 238, 97);
}

/* ----------------------------
           button section
-------------------------------- */

.btn{
    font-size: 15px;
    padding: 15px 25px;  
    background-color:orange;
    border-radius: 5px;
  }
  .btn:hover{
      background-color: blue;
  }

  .btn-new{
    color: orange;
  }

  .btn-second{
    width: 170px;
    height: 120px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 5px;
    background-color: yellow;
    position: absolute;
    margin-top: -100px;
    margin-left: -60px;
  }
  .btn-width{
    font-size: 35px;
    font-weight: 900px;
    background-color: violet;
  }


  /* -----------------------------
          header
    -------------------------------- */

    .header{
      
        width: 720px;
        height: 90px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    
.header-div2{
    display: flex;
    gap: 30px;
}

/* --------------
   section1
------------------- */

.section1{
width: 100 vh;
}
.sec1-div1{
    width: 500px;
    height: 225px;
    
    margin: 0 auto;
    text-align: center;
}
.sec1-head{
    font-size: 35px;
    font-weight: 700px;
}

.sec1-para{
    font-size: 16px;
    font-weight: 500px;
}





/* -------------------
    div2
-------------------------*/

.section1 , .header{
    background-color: antiquewhite;
}
.sec1-div2{
    display: flex;
    justify-content: center;
}
.my-img{
    width: 800px;
    height: 400px;
}

/* --------------------------
           section2
---------------------------- */

.section2{
    margin-top: 50px;
    display: flex;
  justify-content: center;
    gap: 30px;
    
}
.sec2-div1{
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.sec2-div1 img{
    width: 150px;
    height: 150px;
}
.sec2-div2{
    width: 200px;
    height: 150px;
}



/* ---------------------------
           section3
------------------------------- */


.section3{
   padding-top: 30px;
    display: flex;
    
    gap: 30px;
    width: 720px;
    height: 520px;
    margin: 0 auto;
}
.sec3-div1{
    padding: 20px;
    width: 280px;
    height: 480px;
}
.sec3-div2 img{
    padding-top: 20px;
    width: 350px;
    height: 480px;
}

/* -------------------
    section4
---------------------- */

.section4{
    width: 720px;
   
    margin: 0 auto;
}
.sec4-div1{
   width: 280px;
}

.sec4-div1 h1{
    font-size: 35px;
}
.sec4-div2{
    display: flex;
    gap: 20px;
}
.sec4-title{
    text-align: center;
    width: 160px;
    height: 160px;
    background-color: rgb(212, 197, 168);
}
.sec4-title:hover{
    background-color: red;
}

/* --------------------------
        section5
------------------------------ */

.section5{
    width: 720px;
   
    margin: 0 auto;
}
.sec5-div1{
   text-align: center;
    
   align-items: center;
   
}
.sec5-div1 p{
    width: 280px;
    padding-left: 220px;
}
.sec5-div2{
   display: flex;
   gap: 20px;
}
.sec5-title{
    width: 160px;
    
   
   
    text-align: center;
    background-color: aqua;
    margin-bottom: 30px;
}
.sec5-title img{
    width: 90px;
    height: 40px;
}


/* -----------------------------
          section 6
---------------------------------- */

.section6{
   width: 720px;
   margin: 0 auto;
  
   padding: 30px;
}
.sec6-div1{
    text-align: center;
}
.sec6-div1 h2{
    font-size: 35px;
    color: orangered;
}
.sec6-div1 p{
    font-size: 20px;
    color: darkgreen;
}

.sec6-div2{
    display: flex;
    gap: 20px;
    text-align: center;
}
.sec6-title{
    width: 220px;
    height: 180px;
   
       padding-bottom: 20px;
}
.sec6-title img{
    width: 200px;
    height: 160px;
}


/* --------------------------
           Footer
------------------------------ */

footer{
    background-color: antiquewhite;
    width: 820px;
    height: 60px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}


/* ----------------------------------
             media QUUERYY
----------------------------------------- */

@media only screen and (max-width: 576px) {
    footer, .section3, .section4,.section5, .section6{
        display: none;
    } 

    /* ------------------
           section 1
        ------------------ */

 

    .header{
        display: grid;
        width: 100%;
    }
    .sec1-div1{
        width: 100%;
        padding-top: 50px;
        margin-left: 10px;
    }
    .sec1-div2 {
        width: 100%;
        height: 100%;
       
    }
    .sec1-div2 img{
        width: 100%;
        height: 50%;
    }

    /*  -----
      section 2
      ----------- */

    .section2{
       
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sec2-div1{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       height: 100%;
    }
    .sec2-div1 img{
        width: 85%;
        height: 75%;
        align-items: center;
    }
    .sec2-div2{
        width: 100%;
        height: 100%;
        text-align: center;
    }
}